.navbar {
    background-color: black;
}

.navHeader{
    color: white;
}
.formBody {
    box-sizing: content-box;
    margin-top: 10%;
    text-align: center;
}
.form1{

       width: 300px;
        text-align: center;
        margin-top: 5%;
        margin: 0 auto;
        margin-bottom: 5%;
    
}
.myInfo {
    float:right;
    text-align: center;
    font-size: 12px;
    color:white;
    font-family: 'Goldman', cursive;
    text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black, 2px 2px 0 black;
    margin-top: 5px;
}

.contactContainer{
    margin-top: 50px;
    
}

button {
background-color: #343a40!important;

}

.form-group {
    color: white;
    font-weight: 400;
}

.name {
    color: whitesmoke;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 28px;
    font-weight: 200;

}   
.linkedin {
margin-top: 40px;
margin-left: 40px;
}

.aboutMe {
    margin-top: 10%;
    color: white;
}

.card-body{
padding-left: 10px;
padding-right: 10px;
margin-left: 22%;
margin-right: 22%;

}

.aboutText {
    font-family: 'Raleway', sans-serif;
    margin-right: 15px;
}
.projects {
    margin-top:50px;
    text-align: center;
    color: white;
}

.paragraph {
    padding-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to left, #77f9f1, #5bdee9, #4dc2dd, #4ba6cb, #4e8bb5, #4e8bb5, #4e8bb5, #4e8bb5, #4ba6cb, #4dc2dd, #5bdee9, #77f9f1);
}

.projectTitle {
    color: white;
    text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black, 2px 2px 0 black;
    text-align: center;
}

/* html, body {
    height: 100%;
    margin: 0;
  }
  .myFooter,
  .push {
    height: 50px;
  } */
   

.myFooter {
    margin-top: 10%;
    background-color: black;
    text-align: center;
}

.footerLinks {
    color: white;
}

.portfolio-header {
    margin-left: 20px;
    font-family: 'Lobster', cursive;
    font-size: 45px;
    color: whitesmoke
}

.resume {
    width: 85%;
    height: 100%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 25%;
   
}

.secondaryProject,
.primaryProject {
    text-align: center;
}

.carousel {
 margin: 0 auto;
}

.hwBtn1,
.hwBtn2,
.hwBtn3,
.hwBtn4 {
   margin-top: 10px;
}

